@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Let's test jQuery UI dialog</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg orange">Open dialog &raquo;</a></p>
</div>

<div id="sampleDialog" style="display:none">
    <p>I am sample dialog</p>
</div>